.container {
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  border: solid black;
  margin: 100px;
  
  height: 1000px;
  padding: 50px;
}

.button {
  background: #793aff;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px;
}
