.container {
  position: relative;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {

  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;

}