.container {
  height: 260px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid var(--gray1);
  border-radius: 10px;
  display: flex;

}


.containerSecond {
  gap: 3rem 2rem;
  width: 100%;
  padding: 16px 20px;
  margin: 0 auto;
}

.nameList {
  margin: 0 auto
}

.description {
  margin-top: 5px;
  color: var(--gray3)
}

.year {
  margin-top: 5px;
  color: var(--gray3)
}