
.div {

   
     margin: 100px;
     border-radius: 10px;
     height: 150px;
     background-image: url('../../images/imgTop1.png');
     background-size: cover;

     
     

}

.title {

    color:white;
    font-size: 1rem;
    padding-top: 30px;
    margin-top: -40px;
    margin-left: 40px;
   
   
}



.button {
    
    background:#793AFF;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 10px;

}
