:root {
  --dark: #010101;
  --gray1: #dadcdf;
  --gray2: #a9b1bd;
  --gray3: #747c88;
  --light: #FEFEFE;
  --primary1: #d4c0ff;
  --primary2: #ad86ff;
  --primary3: #793aff;
  --primary4: #651dff;
  --yellow: #ffb904;
  --orange: #ff5f00;
  --red: #EF5D77;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary2);
  text-decoration: none;
}

a:hover {
  color: var(--primary3);
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  width: 1250px;
}

.btn {
  border: none;
  cursor: pointer;
  transition: background-color .15s ease-in-out
}

.btn-md {
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1.125rem;
  font-weight: 600;
}

.btn-sm {
  border-radius: 8px;
  padding: 8px 10px;
  font-size: .925rem;
  font-weight: 600;
}

.btn-lg {
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-primary {
  color: white;
  background-color: var(--primary3);
}

.btn-red {
  color: white;
  background-color: var(--red);
}

.btn-primary:hover {
  background-color: var(--primary4);
}

.btn-outlined-light {
  background: none;
  color: var(--light);
  border: 2px solid var(--light);
}

.btn-outlined-light:hover {
  background: rgba(255, 255, 255, .1);
}

.btn-outlined-primary {
  background: none;
  color: var(--primary3);
  border: 2px solid var(--primary3);
}

.btn-outlined-primary:hover {
  background: rgba(121, 58, 255, .1)
}

.btn-outlined-red {
  background: none;
  color: var(--red);
  border: 2px solid var(--red);
  font-weight: 600;
}

.btn-outlined-red:hover {
  background: rgba(239, 93, 119, .1);
}

.btn-link {
  background: none;
  border: none;
  color: var(--gray3);
  cursor: pointer;
  font-weight: 600;
}

.btn-link:hover {
  background-color: var(--gray1);
}

.main {
  margin-top: 60px;
}

.toast-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toast-content-v {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toast-head {
  align-items: center;
  display: flex;
  gap: 10px;
}

.toast-footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}


@media screen and (max-width: 1249px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}